
.slider{
   display: grid;
	max-width: 1500px;
	border: 5px solid  #29a8e2;
	margin: auto; 
    margin-top: 5%;
	position: relative;
	overflow: hidden;
    background-color:rgb(221, 221, 221);
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #00b3d3;
  border-radius: 50%;
  color:#d8d8d8;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
	animation:zoom 1s ease;
}

@keyframes zoom{
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

}
.slider .slider-items .item.active{
	display: block;
}

*{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
body{

    margin:0;
    padding: 0;

}
.slidess{
background-color: rgb(255, 255, 255);
}
.siteimg{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.empty{
    padding: 10px;
}
.gradient{
    opacity: 0.9;
    margin-top: 5%;
    height: 250px;
    background-color:rgb(29%, 72%, 80%);
    background-image: linear-gradient(rgb(29%, 72%, 80%),rgb(21%, 66%, 85%));
}
.imgmain{
    width: 100px;
}
#img1{
    width: 150px;
    position:absolute;
    margin-left:10%;
    margin-top: 2%;
}
#img2{
    position:absolute;
    margin-left: 48%;
    margin-top: 2%;
}
#img3{
    position:absolute;
    margin-left: 79.5%;
    margin-top: 3%;
}
.imgyazi{
    color:white;
}
#yazi1{
    position:absolute;
    margin-left:11%;
    margin-top: 200px;
}
#yazi2{
    position:absolute;
    margin-left: 46.5%;
    margin-top: 200px;
}
#yazi3{
    position:absolute;
    margin-left:79%;
    margin-top: 200px;
}

.footerfragman{
    margin-top: 10%;
    background-color:rgb(10%, 14%, 16%) ;
    height: 400px;
    color:rgb(22%, 53%, 70%);
}

.foot1{
    max-width: 25%;
}

.foot3{
    position:absolute;
    margin-left: 82%;
    margin-top: -220px; 
}
.footerrl{
    height: 55px;
    background-color: rgb(8%, 11%, 13%);
    color:rgb(22%, 53%, 70%);
    text-align: center;
}
.hakyazi{
text-align: center;
font-size: 48px;

}
.ikincielyazi{
text-align: center;
font-size: 48px;
}
.iletisim{
    display:inline-block;
}
.mapouter{
    margin-left: 5%;
}
.mapouter.yazi{
    margin-left: 40%;
    margin-top: -500px;
}
@media screen and (max-width: 599px) {
    .footerfragman {
      visibility:hidden;
    }
  }