<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<title>Celik Marin</title>

</head>

<body>
  <div class="empty">
  
  </div>
    <div class="siteimg" style="display:grid;place-items:inline;background-color:#F7F7F7 ;";>
<img src="{{url_for('static', filename='img/celikmarin.jpeg')}}" alt=""  style=" width: 250px;">
</div>
    <nav class="navbar navbar-expand-lg navbar navbar-light bg-light">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Ana Menü</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Hakkında">Hakkımızda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Motorlar">Motorlar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/2.ElUrunler">2.El Ürünler</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/iletisim">İletişim</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Dökümanlar
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/turkceelkitaplari">Tükçe El Kitapları</a></li>
                  <li><a class="dropdown-item" href="/ozelkilavuzkar">Volvo Penta Özel Kılavuzlar</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav> 
      <br>
      <div class="slidess">
      <div class="slider">
        <div class="slider-items">
            <div  class="item active">
              <img src="{{url_for('static', filename='img/celikmarin.jpeg')}}" />
               <div class="caption">
                  Celik Marin
               </div>
            </div>
            <div  class="item">
               <img src="{{url_for('static', filename='img/cummins.jpg')}}" />
               <div class="caption">
                 Cummins
               </div>
            </div>
            <div  class="item">
               <img src="{{url_for('static', filename='img/volvopenta.png')}}" />
               <div class="caption">
                  Volvo Penta
               </div>
            </div>
            <div  class="item">
              <img src="{{url_for('static', filename='img/Yanmar_symbol_logo.png')}}" />
              <div class="caption">
                 Yanmar
              </div>
           </div>
           <div  class="item">
            <img src="{{url_for('static', filename='img/on.png')}}" />
            <div class="caption">
               Cummins Onan
            </div>
         </div>
  
        </div>
          <!-- slider controls -->
            <div class="left-slide"><</div>
            <div class="right-slide">></div>
          <!-- slider controls -->
     </div>
    </div> 
</div>

<div class="gradient">

<div class="gradimg">
  <img src="{{url_for('static', filename='img/wave.png')}}" alt="null" class="imgmain" id="img1">
  <img src="{{url_for('static', filename='img/blue-check-mark-by-vexels.png')}}" alt="null" class="imgmain" id="img2">
  <img src="{{url_for('static', filename='img/web-service-icon-19.jpg')}}" alt="null" class="imgmain" id="img3">
</div>
<div class="imgyazi">
  <h4 id="yazi1" style="position:absolute;margin-left:10%;margin-top: 180px;">YEDEK PARÇA VE<br>SERVİS HİZMETLERİ</h4>
  <h4 id="yazi2">GÜVENİLİR HİZMET</h4>
  <h4 id="yazi3"> İKİNCİ EL ÜRÜNLER</h4>
</div>
</div>

<div class="footerfragman">

  <div class="footc">
<img src="{{url_for('static', filename='img/celikmarin.jpeg')}}" style="width: 150px;" id="footimg"> 
<p>Bizler Sizin için buradayız.<br> Kaliteli hizmet ve diğer herşey için bizi ziyaret ediniz. 
</p>
</div>
  <div class="footc">
   <h4>İLETİŞİM</h4>
   <p>info@celikmarin.net</p>
   <p>Adres: Dumlupınar Mah. Dumlupınar Cad.<br>No:135/A<br>Ümraniye/İstanbul</p>
   <p>TEL: 0216 630 1256</p>
   <p>GSM: 0532 461 2782</p>
    </div>
  
</div>
<div class="footerrl">
  <p>Celik Marin 2021</p>
 
</div>



<script src="{{url_for('static', filename='slider1.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>



</html>